* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .menu-container {
    padding: 20px 0;
    color: #fff;
    background-color: #ff0000;
    margin-bottom: 50px;
  }
  .menu-container1 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    align-items: stretch;
  }
  .menu {
    padding: 20px;
    border: 5px solid #E5E000;
    border-radius: 30px;
    width: 400px;
    margin: 0 25px; 
  }
  .p {
    position: absolute;
    width: 334px;
    height: 670px;
    left: 103px;
    top: 209px;}
    .footer {
        display: flex;
        justify-content: space-between;
      }
      .footer-item {
        padding: 20px 0;
        left: 20px;
        color: #fff;
        font-family: 'Helvetica';
        position: absolute;
        width: 1903px;
        height: 60px;
        left: 0px;
        top: 900px;
        background: #FE1A19;
      }